* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: hsl(210, 46%, 95%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.article {
  max-width: 830px;
  height: 330px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 3px 8px 20px hsl(214, 17%, 51%);
}

.image {
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/sM9xMln.jpg");
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.post--main {
  padding: 30px 40px 0 50px;
}

.post--title h2 {
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}

.post--content p {
  font-weight: 500;
  color: hsl(214, 17%, 51%);
  margin: 12px 0 15px;
}

.post--profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 76px;
  /* padding: 0 50px 30px 50px; */
}

.post--profile__info {
  display: flex;
  padding-left: 50px;
  padding-bottom: 30px;
}

.post--profile__avatar img {
  width: 60px;
  border-radius: 100px;
  margin-right: 20px;
}

.post--profile__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post--profile__name h4 {
  color: hsl(217, 19%, 35%);
}

.post--profile__name p {
  color: hsl(214, 17%, 51%);
  font-weight: 500;
}

.post--profile__share {
  padding-right: 50px;
  padding-bottom: 30px;
}

.post--profile__share a {
  display: flex;
  background-color: hsl(210, 46%, 95%);
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.post--profile__shareButton:hover {
  background-color: hsl(214, 17%, 51%);
  transition: 450ms all;
}

.post--profile__shareButton:hover .share-svg {
  fill: #ffffff;
  transition: 450ms all;
}

.post--profile__popover {
  display: none;
  background-color: hsl(217, 19%, 35%);
  width: 270px;
  height: 60px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 1px 4px 20px hsl(214, 17%, 51%);
}

.post--profile__popover p {
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 5px;
}

.post--profile__popover svg {
  cursor: pointer;
}

.post--profile__popover::after {
  content: "";
  margin-left: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
  position: relative;
  top: 43px;
  right: 100px;
}

.is-active {
  display: flex;
  position: absolute;
  bottom: 118px;
  left: 308px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 768px) {
  .article {
    max-width: 85%;
    height: 80%;
    display: flex;
    flex-direction: column;
  }

  .image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .post {
    padding: 0;
    line-height: 1.5;
  }

  .post--main {
    padding: 30px 34px 0 30px;
  }

  .post--title h2 {
    font-size: 16px;
  }

  .post--content p {
    font-size: 13px;
    margin: 16px 0;
  }

  .post--profile__info {
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .post--profile__avatar img {
    width: 40px;
  }

  .post--profile__name h4,
  .post--profile__name p {
    font-size: 13px;
  }

  .post--profile__share {
    padding: 0;
    position: fixed;
    /* right: 55px;
    bottom: 85px; */
    right: 18%;
    bottom: 13%;
  }

  .post--profile__popover {
    justify-content: flex-start;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .post--profile__popover > svg {
    margin-left: 20px;
  }

  .post--profile__popover > p {
    margin-left: 34px;
  }

  .post--profile__popover::after {
    content: "";
    margin-left: 0px;
    border-width: 0px;
    border-style: none;
    border-color: none;
    position: initial;
  }

  .is-active {
    display: flex;
    position: initial;
    /* top: 0;
    left: 0; */
    height: 76px;
  }

  .is-not-visible {
    display: none;
  }
}
